@import "vendor/bootstrap/bootstrap/variables";
@import "variables";

body {
  background: $body-bg;
}

h1 {
  font-size: 3.4em;
}

h1,
h2 {
  font-weight: 600;
}

p,
a {
  font-size: 18px;
  line-height: 1.6;
}

.devops-hero-container {
  padding: 40px;
  height: 70vh;
  background: $body-bg;

  .devops-hero-info {
    max-width: 500px;
    z-index: 1;

    @media screen and (max-width: $screen-sm-min) {
      transform: translateY(-60px);
    }

  }

  img {
    position: absolute;
  }

  .image1 {
    left: -360px;
    bottom: -160px;
    height: 540px;
    transform: rotate(-16deg);

    @media screen and (max-width: $screen-md-min) {
      left: -460px;
      height: 480px;
    }

    @media screen and (max-width: $screen-sm-min) {
      left: -60px;
      height: 280px;
      bottom: -160px;
    }

    @media screen and (max-width: $screen-xs-min) {
      left: -180px;
    }

  }

  .image2 {
    right: -190px;
    bottom: -100px;
    height: 480px;

    @media screen and (max-width: $screen-md-min) {
      right: -290px;
      height: 420px;
    }

    @media screen and (max-width: $screen-sm-min) {
      right: -20px;
      height: 320px;
      bottom: -160px;
    }

    @media screen and (max-width: $screen-xs-min) {
      right: -140px;
    }

  }

  h1 {
    margin-bottom: 20px;
  }

}

.contribute-tile {

  p {
    margin: 0;

    @media screen and (max-width: $screen-sm-min) {
      margin: 30px 0;
    }

  }

  img {
    height: 40px;
    margin-right: 40px;

    @media screen and (max-width: $screen-sm-min) {
      margin-right: 0;
    }

  }

  a {
    white-space: nowrap;
    padding: 20px 60px;
    margin-left: 20px;
    background: $color-gray-extra-light-alt;
    border-radius: $border-radius-large;
    text-decoration: none;

    &:hover {
      background: $color-primary-alt;
      color: $color-white;
    }

    @media screen and (max-width: $screen-sm-min) {
      width: 100%;
      padding: 20px 0;
      margin-left: 0;
    }

  }

}

.devops-content-container {
  padding: 100px 200px;
  padding-bottom: 10px;

  section {
    margin-bottom: 100px;

    .column:not(:first-child) {
      margin-left: 50px;

      @media screen and (max-width: $screen-sm-min) {
        margin-left: 0;
        margin-top: 50px;
      }

    }

    @media screen and (max-width: $screen-sm-min) {
      flex-wrap: wrap;
    }

  }


  @media screen and (max-width: $screen-lg-min) {
    padding: 100px;
  }

  @media screen and (max-width: $screen-md-min) {
    padding: 50px 20px;
  }


}

.value-pillar-group {

  img {
    height: 80px;
    margin-bottom: 10px;
  }

  .pillar-title {
    font-weight: 600;
  }

  .pillar-description {
    color: $color-gray;
    font-style: italic;
  }

  ul {
    font-size: 18px;

    li {
      margin-top: .5em;
    }

  }

  .value-pillar:not(:first-child) {
    margin-left: 50px;

    @media screen and (max-width: $screen-sm-min) {
      margin-left: 0;
      margin-top: 50px;
    }

  }

  @media screen and (max-width: $screen-sm-min) {
    flex-wrap: wrap;
    max-width: 400px;
    margin: auto;
  }

}
